.appWrapper {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  padding: 10px;
}

.LeftPanel {
  display: inline-block;
  width: 50%;
}

.RightPanel {
  display: inline-block;
  width: 50%;
}

.columnsWrapper {
  display: flex;
  height: calc(100vh - 100px);
}
